body{
  height: 100vh;
  margin: 0; 
  padding: 0;
  font-family: sans-serif;
  align-items:center;
  justify-content:center; 
  display:flex;
}

#conatainer-box{
  height: 95vh;
  width: 95vw;
  max-width: 370px; 
  max-height: 775px;
  margin: auto; 
  padding:0; 
  background-color: #fff; 
  border: solid 1px gray;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}

.item-box{
  text-align: center;
  padding: 0; 
}

h1{
  font-weight: normal;
}

.center{
  display:flex;
  align-items:center;
  justify-content:center;  
}

#find-iphone-icon {
  width: 100px; 
  height: 100px; 
  border: solid 0.7px #8a8a8a;
  border-radius: 25px; 
  display: inline;
}

.xlSpace{
  flex-grow: 3;
}

.lSpace{
  flex-grow: 2;
}

.smSpace{
  flex-grow: 1;
}

.input-block {
  padding: 0px 27px; 
}

span{
  height: 100%;
}

label {
  color: #656565;
  font-size: 1em;
  width: 30%;
  font-weight: bold;
}

input{
  height: 87%;
  width: 69%;
  font-size: 1em;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  color: #898989;
  background-color: #fcfcfc;
}

input:focus{
  outline: none;
  background-color: #f5f5f5;
  color: #898989;
  font-size: 1em;
  caret-color: #20ad20;
}

input:focus::placeholder{
  color:transparent;
}

#appleID-input {
  height: 38px;
  border: solid 0.7px #8a8a8a;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: auto auto;
}

#password-input {
  height: 38px;
  border: solid 0.7px #8a8a8a;
  border-top: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

button {
  height: 35px;
  width:120px;
  border: none;
  background-color: #fff; 
  font-size: 1.5em;
}

ul {
  padding: 0px;
  list-style: none;
  margin-bottom: 0px;
}

li {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #20ad20;
}

.activeButton{
  outline: none;
  color: #20ad20;
}

.activeButton:hover{
  cursor: pointer;
}

.disabled{
  color: #bcbcbc;
}

.msg-box {
  display: none;
}

.free-float{
  width: 95vw;
  max-width: 370px;
  min-height: 70px;  
  padding-top: 40px;
	position: absolute;
	text-align: center;
	background-color: lime;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.bad-free-float {
  background-color: #db1515;
}